# Python Virtual Environment
.venv/
venv/
ENV/

# Python caching
**/__pycache__/
*.py[cod]
*$py.class

# Local Database
*.sqlite3

# Node dependencies & builds
**/node_modules/
**/dist/
.env
.env.local

# Django Media and Static uploads
backend/media/
frontend/dist/
